@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');

* {
  font-family: 'Toss Product Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    width: 600px; /* Fixed width */
    height: 1024px; /* Fixed height */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Adds shadow for better visibility */
}

.App-header {
  width: 100%;
  text-align: center; /* Align text to the left */
  padding-left: 20px; /* Add padding to the left to space out the text from the edge */
  font-size: calc(10px + 2vmin);
  color: black;
}

.buttons {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.button.large {
  display: block;
  text-decoration: none; /* Remove underline from links */
  color: black; /* Set text color */
  width: 400px;
  height: 250px;
  margin: 10px;
  font-size: 16px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button.round {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
  font-size: 24px;
  border: none;
}

.lang-image {
    width: 40px;
    height: 40px;
}

.emoji {
  font-size: 40px;
}

.text {
  font-size: 30px;
}

video {
    transform: rotate(90deg); /* Rotate video 90 degrees clockwise */
    transform-origin: center center; /* Ensure the rotation happens around the center */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#guideImage {
    position: fixed;  /* Fixed position */
    top: 0;
    left: 0;
    width: 100%;      /* Full viewport width */
    height: 100%;     /* Full viewport height */
    /* transform: rotate(90deg);  Rotate 90 degrees */
    transform-origin: center center; /* Rotate around the center */
    z-index: 10;      /* Above the video layer */
}

